<%- model_class = RemoteButton -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:note) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @remote_buttons.each do |remote_button| %>
      <tr>
        <td><%= remote_button.id %></td>
        <td><%= remote_button.note %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_remote_button_path(remote_button), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      remote_button_path(remote_button),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=3>
        <%= page_entries_info(@remote_buttons) %>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <%= paginate(@remote_buttons) %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_remote_button_path,
            :class => 'btn btn-primary' %>
